@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
* {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
h1.page-title {
  font-size: 2.4em;
}
h1.page-title small {
  font-size: .5em;
  font-weight: normal;
  color: #ff5656;
}
.pattern {
  margin-bottom: 2em;
  position: relative;
}
.pattern-head {
  margin: 2em 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  font-weight: normal;
  padding: 1em 0;
  color: #555555;
  border-bottom: 1px solid #f1f1f1;
}
/*COLORS *
-----------------------------------------------*/
.colors {
  padding: 0;
}
.colors li {
  list-style: none;
}
.colors li {
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  margin-right: 30px;
  padding-top: 1.5em;
  border-radius: 500px;
  vertical-align: middle;
  position: relative;
  border: 5px solid white;
  box-shadow: 0 0 1px #797979;
}
.c-black {
  background-color: #000000;
  color: #ffffff;
}
.c-white {
  background-color: #ffffff;
  color: #000000;
}
.c-grey-dark {
  background-color: #555555;
  color: #ffffff;
}
.c-grey-light {
  background-color: #f1f1f1;
  color: #000000;
}
.c-red {
  background-color: #ff5656;
  color: #ffffff;
}
.c-blue {
  background-color: #3a7498;
  color: #ffffff;
}
.c-tan {
  background-color: #e8d0a9;
  color: #ffffff;
}
.c-clay {
  background-color: #b7afa3;
  color: #ffffff;
}
.c-cyan-grey {
  background-color: #c1dad6;
  color: #ffffff;
}
.c-light-blue {
  background-color: #a6d8e9;
  color: #ffffff;
}
.c-sea-green {
  background-color: #6c919a;
  color: #ffffff;
}
/*FONTS *
-----------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.serif {
  font-family: "roboto slab", "source sans pro", arial, sans-serif;
}
/*TYPOGRAPHY *
-----------------------------------------------*/
h2 {
  font-size: 25px;
  letter-spacing: -0.03em;
}
h3 {
  font-size: 22px;
  letter-spacing: -0.03em;
  line-height: 1.2em;
}
h4 {
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 1.3em;
}
h5,
h6,
h7 {
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 1.3em;
}
p {
  margin: 0 0 1em 0;
}
.big {
  font-size: 1.25em;
}
.muted {
  color: #999;
}
.meta {
  font-size: 80%;
  color: #999;
}
/*BUTTONS *
-----------------------------------------------*/
a {
  color: #3a7498;
  outline: 0;
}
.btn,
button {
  display: inline-block;
  background: #3a7498;
  color: white;
  line-height: 1;
  padding: 1em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border: 0;
  text-align: center;
  -webkit-transition: all ease-out 300ms;
          transition: all ease-out 300ms;
  border-radius: 3px;
}
.btn:hover,
button:hover,
.btn:focus,
button:focus {
  background: #ffffff;
  color: black;
}
.category {
  display: inline-block;
  background: #f1f1f1;
  color: #555555;
  line-height: 1;
  padding: 1em;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border: 0;
  text-align: center;
  -webkit-transition: all ease-out 300ms;
          transition: all ease-out 300ms;
}
.category:hover,
.category:focus {
  background: #3a7498;
  color: white;
  text-decoration: underline;
}
/*ELEMENTS *
-----------------------------------------------*/
.border-radius {
  border-radius: 3px;
}
.transition {
  -webkit-transition: all ease-out 300ms;
          transition: all ease-out 300ms;
}
/*SITE NAV *
-----------------------------------------------*/
.site-nav {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "roboto condensed", "source sans pro", arial, sans-serif;
  width: auto;
  list-style: none;
}
.site-nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  display: block;
  position: relative;
  line-height: 60px;
  width: auto;
  padding: 0 15px;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #ffffff;
  background-color: #3a7498;
  text-decoration: underline;
}
.site-nav li {
  float: left;
  width: auto;
}
/*BACKGROUNDS *
-----------------------------------------------*/
[class*='bg-'] {
  padding: 2em;
}
.bg-grey-dark {
  background: #555555;
  color: #ffffff;
}
.bg-blue {
  background: #3a7498;
  color: #ffffff;
}
.bg-black {
  background: #000000;
  color: #ffffff;
}
